body {
 margin: 0;
 font-family: "Montserrat", sans-serif;
 background: #f2f6fb;

 background-image: url(небо.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
}
.container {
 max-width: 700px;
 margin: 40px auto;
 padding: 20px;
}
h1 {
 text-align: center;
}
.search {
 display: flex;
 gap: 10px;
 margin-bottom: 20px;
 margin-top: 100px;
}
input {
 flex: 1;
 padding: 10px;
 font-size: 16px;
 border-radius: 15px;
}
button {
 padding: 10px 16px;
 font-size: 16px;
 cursor: pointer;
 background-color: #092b52;
 color: rgb(255, 255, 255);
 transition: 0.3s;
 border: 2px;
 border-radius: 15px;
}
button:active {
    transform: scale(0.98);
}

.card {
 background: white;
 border-radius: 12px;
 padding: 20px;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.error {
 color: crimson;
 font-weight: bold;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #001f42;
}